body
{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1
{
    color: crimson;
    text-align: center;
}
 
.img
{
    border-radius: 25px;
    align-content: center;
}