
body
{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1
{
    color: crimson;
    text-align: center;
    font-family: fantasy;
    font-size: 200%;
}

p
{
    font-family: monospace;
    text-align:center;
    font-size: 150%;
}
 
img
{
    border-radius: 25px;
}

.Gif
{
    display: flex;
align-items:  center;   
margin: 0 auto;
}
