body
{
background-image: url(image/gradient.png);
}

h1
{
    color: crimson;
    text-align: center;
    font-family: fantasy;
    font-size: 200%;
    text-shadow: 2px 2px 4px white;
}

p
{
    font-family: monospace;
    text-align:center;
    font-size: 150%;
}
 
img
{
    border-radius: 25px;
}

header {
  display: flex;
  justify-content: space-around;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}

a
{
    color:gold;
}


a:hover {
  color: silver;
}


#listeNavTop {
  display: flex;
  background-color: black;
  padding: 20px;
  font-family: "Space Mono", monospace;
  border-radius: 25px;
  
}

.Gif
{
margin: 0 auto;
}
